/* HEADER */
header{
    display: flex;
    flex-direction: row;
    width:1440px;
    text-align: center;
    font-family: Syne ;
    font-weight: 700 ;

}
.logo{
    width:200px;
    padding: 20px;
}
.nav :hover {
    text-decoration: underline 2px #C02E44;
    
}
.nav {

}

.butheader{
    width : 236px;
    height: 70px;
    padding: 20px;
    color : #ffffff;
    background-color: #DC9F96;
    float: right;
    border: none;
    
}


/* PAGE COMMANDER */
.quantity {
    display: flex;
    margin-bottom: 10px;
    width:100px;
    margin-right:40px;
    
}

.left-div {
    background-color: white;
    width: 100%;
    text-align: center;
    border-radius: 10px 0 0 10px;
    padding-top:10px;

}

.right-div {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #DC9F96;
    width: 100px;
    text-align: center;
    border-radius: 0 10px 10px 0;
    justify-content: space-between;
}
.order-button{
    width:100%!important;
    color : #FFFFFF;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:20px;
}
.top-div{
    border-bottom: 1px solid #FFFFFF;
}
/* Formulaire 2 colonnes */

.deuxcolonnes {
    
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right:50px;

}
.deuxcolonnes label{
    color:#ffffff;
}
.deuxcolonnes input{
    width : 383px!important;
}
.commander,.benvoyer {
    display: flex;
    justify-content: center;
}

.commander {
    padding-left: 70px;
    padding-top: 30px;

}
.label{
    color:#FFFFFF!important;
}

.border {
    border-right: 1px solid #FFFFFF;
    
}


/* Formulaire page "Nous recontrer" */

.benvoyer {
    padding-top: 10px;
    padding-left : 70px;
    margin-right:20px;
}

input{
    background-color: #FFFFFF;
    
}

.butheader{
margin:30px;
}
@media (max-width : 766px) {
    .quantity {
        width: 100%;
    }
}